
body {
    font-family: 'Times New Roman';
    margin: 0%;
    padding: 0;
  }
  .navbar {
    background: linear-gradient(#032448, #105181);
    color: #fff;
    padding: 60px;
    display: flex;
    align-items: center;
    /* margin-left: 10%; */
  }
  .title {
    margin: 0;
    text-align: center;
    margin-left: 35%;
    height:300;
  }